@use "../../030-tools/tool_rem-conversion" as t-rem;
@use "../../030-tools/tool_scale-with-ratio" as t-scale;

$_vertical-to-horizontal-ratio: 1.333;
$scale-ratio: 1.333;

$spacing-base: 16px;

//
// GENERAL SPACINGS
//

$_spacing-xsmall-vertical: t-scale.scale-with-ratio($scale-ratio, -3, $spacing-base);
$_spacing-xsmall-horizontal: $_spacing-xsmall-vertical * $_vertical-to-horizontal-ratio;

$_spacing-small-vertical: t-scale.scale-with-ratio($scale-ratio, -2, $spacing-base);
$_spacing-small-horizontal: $_spacing-small-vertical * $_vertical-to-horizontal-ratio;

$_spacing-medium-vertical: $spacing-base;
$_spacing-medium-horizontal: $_spacing-medium-vertical * $_vertical-to-horizontal-ratio;

$_spacing-large-vertical: t-scale.scale-with-ratio($scale-ratio, 0.75, $spacing-base);
$_spacing-large-horizontal: $_spacing-large-vertical * $_vertical-to-horizontal-ratio;

$_spacing-xlarge-vertical: t-scale.scale-with-ratio($scale-ratio, 1, $spacing-base);
$_spacing-xlarge-horizontal: $_spacing-xlarge-vertical * $_vertical-to-horizontal-ratio;

//
// PADDINGS
//

$il-padding-small-vertical: $_spacing-small-vertical;
$il-padding-small-horizontal: $_spacing-small-horizontal;

$il-padding-xs-vertical: $_spacing-xsmall-vertical;
$il-padding-xs-horizontal: $_spacing-xsmall-horizontal;

$il-padding-medium-vertical: $_spacing-medium-vertical;
$il-padding-medium-horizontal: $_spacing-medium-horizontal;

$il-padding-large-vertical: $_spacing-large-vertical;
$il-padding-large-horizontal: $_spacing-large-horizontal;

$il-padding-xlarge-vertical: $_spacing-xlarge-vertical;
$il-padding-xlarge-horizontal: $_spacing-xlarge-horizontal;

//
// MARGINS
//

$il-margin-medium-vertical: $il-padding-medium-vertical;
$il-margin-medium-horizontal: $il-padding-medium-horizontal;

$il-margin-large-vertical: $il-padding-large-vertical;
$il-margin-large-horizontal: $il-padding-large-horizontal;

$il-margin-xlarge-vertical: $il-padding-xlarge-vertical;
$il-margin-xlarge-horizontal: $il-padding-xlarge-horizontal;

$il-margin-small-vertical: $il-padding-small-vertical;
$il-margin-small-horizontal: $il-padding-small-horizontal;

$il-margin-xs-vertical: $il-padding-xs-vertical;
$il-margin-xs-horizontal: $il-padding-xs-horizontal;

// for Bootstrap 5 inspired code (e.g. grid)
// scss-docs-start spacer-variables-maps
$spacers: (
    0: 0,
    1: $il-padding-xs-horizontal,
    2: $il-padding-small-horizontal,
    3: $il-padding-medium-horizontal,
    4: $il-padding-large-horizontal,
    5: $il-padding-xlarge-horizontal,
    ) !default;
// scss-docs-end spacer-variables-maps

$grid-gutter-width: $il-padding-large-horizontal !default;
